<h1>All Articles</h1>


<%= link_to "<< Go to Tags List", tags_path(tag) %>



<!-- list of articles, each title is a link -->
<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article),    
    class: 'article_title', id: "article_#{article.id}" %>  <!-- class/id for css styling -->
    </li>
  <% end %>
</ul>

<!-- create a new article -->
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>  <!-- class for css styling -->
<% end %>